// Define variable defaults
$button-color: #4429ca;
$theme-colors: (
  button-color: $button-color // $purple is defined in _variables.scss
);
// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';